<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title>Auction login</title>
    <link href="/css/main.css" rel="stylesheet"/>
</head>
<body>
<main>
    <header>
        <h3>Please, sign in</h3>
    </header>
    <div class="container">
        <form class="form-main" method="post" action="/login">
            <div class="form-div">
                <label for="username">Username</label>
                <div class="success" th:if="${registerSuccess}">Your registration was successful!</div>
                <input type="text" id="username" name="username" placeholder="Username" required
                       autofocus>
            </div>
            <div class="form-div">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" placeholder="Password"
                       required>
            </div>
            <div class="form-div">
                <button class="form-submit" type="submit">Sign in</button>
            </div>
        </form>
        <div class="form-main">
            <div class="form-div">
                <button class="form-submit" onclick="window.location.href='/registration';">Registration</button>
            </div>
        </div>
    </div>
</main>
<h3>Login with:</h3>
<p th:each="url : ${urls}">
    <a th:text="${url.key}" th:href="${url.value}">Client</a>
</p>
</body>
</html>
